.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid_col_span_2 {
  grid-column: span 2;
}

.grid_item {
  border: 2px solid black;
}

.grid_item:last-child {
  grid-column-start: 4;
  grid-row: 1/3; /* same as grid-row-start : 1; grid-row-end : 3; or grid-row 1 / span 2 */
}
